#pandas
flwr==1.0.0
#urllib3
#boto3
fastapi==0.70.1
uvicorn[standard]==0.16.0
requests==2.26.0
pydantic
tensorflow==2.6.0
#botocore
keras==2.6.0
#wandb
numpy
sklearn
#pyarrow
#tensorflow_addons
kubernetes
